<div class="container">
    <div class="row">
        <div class="col -12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div  class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-3" *ngFor="let d of data.articles">
                    <div class="card ">
                        <img height="200px" class="rounded-circle" src="{{d.urlToImage}}" class="card-img-top" alt="...">
                        <div  class="card-body">
                          <h5 class="card-title">Title: {{d.title}}</h5>
                          <p class="card-text">{{d.description}}</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
